/* Stylesheet */
#pageTitle{
  font-family: 'Oswald';
  font-weight: bold;
  color: #428bca;
}

#cntcDetTabl td {
    border: 1px solid black;
}

#cntcDetTabl{
  width: 50%; 
  margin-left: 15px;

}

.label {
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: #428bca;
  padding-left: 0px;
}

#conct{
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.contact-details{
  border: 1px solid transparent;
  border-color: #ddd;
}

.panel.panel-default{
  /*width: 60%;*/
}

#cntctDetailsTitle{
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: #428bca;
  padding-left: 15px;
}

#cntctDetails{
    font-family: 'Oswald';
    font-size: 12px;
    padding-left: 15px;
}

.my-controller {
  /*border: 1px solid #fcc;*/
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}

