/* Stylesheet */
#pageTitle{
  font-family: 'Oswald';
  font-weight: bold;
  color: #428bca;
}

#cntcDetTabl td {
    border: 1px solid black;
}

#cntcDetTabl{
  width: 100%; 
  margin-left: 15px;

}

.label {
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: #428bca;
  padding-left: 0px;
}

.label2 {
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
}

#conct{
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

#conct:hover{
  color: #696969;
}

#conct:active{
  color: #696969;
  opacity: 0.6;
}

#contact-details{
  font-family: 'Oswald';
  font-size: 12px;
  border: 1px solid transparent;
  border-color: #ddd;
  display: none;
}

.form-control {
  display: inline;
}

.form-control.search {
  width: 24%;
  margin-left: 16px;
}

.form-control.pageSize {
  width: 14%;
  margin-left: 13px;
}


#cntctDetailsTitle{
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  color: #428bca;
  padding-left: 15px;
}

#cntctDetails{
    font-family: 'Oswald';
    font-size: 12px;
    padding-left: 15px;
}

#cntctDetails td{
    font-family: 'Oswald';
    font-size: 12px;
    color: #696969;
}

.my-controller {
  /*border: 1px solid #fcc;*/
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}
